{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    
    
    <!-- Dashboard -->
<div class="container-fluid row align-items-stretch px-0 h-100">
    <!-- left side menu -->
        <div class="col-2 bg-dark">
                <div class="d-flex flex-column p-3 text-white bg-dark">
                    <br>
                    <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{url_for('home.home')}}" class="nav-link" aria-current="page">
                            <i class="bi bi-house px-2"></i>
                         Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('home.home')}}" class="nav-link" aria-current="page">
                            <i class="bi bi-speedometer px-2"></i>
                             Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('home.home')}}" class="nav-link" aria-current="page">
                            <i class="bi bi-cash-coin px-2"></i>
                         Financials
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('departments.home')}}" class="nav-link" aria-current="page">
                            <i class="bi bi-box-seam px-2 w-3"></i>
                             Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('home.home')}}" class="nav-link" aria-current="page">
                            <i class="bi bi-person-fill-gear px-2"></i>
                             Admin
                        </a>
                    </li>
                    </ul>
                    <hr>
                </div>
        </div>
        <!-- Right side dashboard-->
        <div class="col-10 text-light h-100">
                <main class="pt-3">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-dark">Dashboard</h4>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3 mb-3">
                        <div class="card bg-primary text-white h-100">
                        <div class="card-body py-5">
                            Number of Products : 
                            {% if num_of_items %}
                                {{num_of_items}}
                            {% endif %}
                        </div>
                        <div class="card-footer d-flex">
                            Grocery Department
                            <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card bg-warning text-dark h-100">
                        <div class="card-body py-5">
                            Number of Products : 
                            {% if num_of_items %}
                                {{num_of_items}}
                            {% endif %}                        
                        </div>
                        <div class="card-footer d-flex">
                            Electronic Department
                            <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card bg-success text-white h-100">
                            <div class="card-body py-5">
                                Number of Products : 
                                {% if num_of_items %}
                                    {{num_of_items}}
                                {% endif %}                        
                            </div>
                        <div class="card-footer d-flex">
                            Clothing Department
                            <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card bg-danger text-white h-100">
                            <div class="card-body py-5">
                                Number of Products : 
                                {% if num_of_items %}
                                    {{num_of_items}}
                                {% endif %}                        
                            </div>
                        <div class="card-footer d-flex">
                            View Details
                            <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                            </span>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card h-100">
                            <div class="card-header">
                                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                                Area Chart Example
                            </div>
                            <div class="card-body">
                                <canvas class="chart" width="400" height="200"></canvas>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card h-100">
                            <div class="card-header">
                                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                                Area Chart Example
                            </div>
                            <div class="card-body">
                                <canvas class="chart" width="400" height="200"></canvas>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container-fluid w-100 bg-dark">
            Another section
        </div>
</div>


{% endblock %}
