{% extends 'base.html'%}
{%block title%}Home{%endblock%}
{% block content %}
<div class="container my-5 p-4 rounded">
  <div class="row g-4">
    <div class="col-lg-6 d-none d-lg-block">
      <img src="https://img.freepik.com/free-photo/basket-full-vegetables_1112-316.jpg?w=900&t=st=1705555913~exp=1705556513~hmac=6eb5b6fe1077d48c4ea8a915356a74eb01a1db2f6bb1cbbc16f349d3e6e85175" class="img-fluid rounded" alt="Fresh groceries" style="max-width: 500px;" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold text-center mb-4">Welcome to the Grocery Department</h1>
      <p class="lead text-center mb-4">Explore a wide range of fresh and quality products.</p>
      <div class="d-grid gap-3">
        <a href="#" class="btn btn-lg btn-primary mt-lg-5 mt-sm-3">Shop Now <i class="bi bi-cart-fill"></i></a>
      </div>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% include 'components/toasts.html' %}
  {% endif %}
{% endwith %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script>
    $(document).ready(function(){
        $('.toast').toast('show');
    });
</script>


    <!-- Table -->
<div class="container-fluid col-10">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Qantity</th>
                  <th scope="col">Time</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for product_id, item in items.items() %}
                <tr>
                <td>{{ product_id }}</td>
                <td>{{ item.Price }}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.Time }}</td>
                <td>
                  <form action="{{ url_for('departments.grocery_delete', product_id=product_id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
                <!-- <td>
                  <a href="{{ url_for('departments.grocery_update', product_id=product_id) }}" class="btn btn-success">Update</a>
                  <a href="{{ url_for('departments.grocery_update', product_id=product_id) }}" class="btn btn-danger">Delete</a>
                </td> -->

                </tr>
                {% endfor %}
              </tbody>
        </table>
</div>

  <!----------------- form ------------------------------------>
<div class="container-fluid col-5 mt-5 text-center">
        <!--------------Insertion form-------------->
        {% if form%}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              Add Item
          </button>
          <div>
              <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body  bg-light">
                          <form action="{{ url_for('departments.grocery')}}" method="POST">
                              
                              {{form.hidden_tag()}}

                              {{form.product_id.label(class='form-label')}}
                              {{form.product_id(class='form-control')}}

                              {{form.price.label(class='form-label')}}
                              {{form.price(class='form-control')}}

                              {{form.quantity.label(class='form-label')}}
                              {{form.quantity(class='form-control')}}
                              
                              <br>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  {{form.submit(class='btn btn-success')}}
                              </div>
                          </form>
                      </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
</div>

<div class="container-fluid col-5 mt-5 text-center">
    <!----------------Update/Delete form-------------------->
    {%if form%}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Update Item
        </button>
        <div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Update Product</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body  bg-light">
                        <form action="{{ url_for('departments.grocery_update')}}" method="POST">
                            
                            {{form.hidden_tag()}}

                            {{form.product_id.label(class='form-label')}}
                            {{form.product_id(class='form-control')}}

                            {{form.price.label(class='form-label')}}
                            {{form.price(class='form-control')}}

                            {{form.quantity.label(class='form-label')}}
                            {{form.quantity(class='form-control')}}
                            
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                {{form.submit(class='btn btn-danger')}}
                            </div>
                        </form>
                    </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
</div>
{% endblock%}
